<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Expense Tracker</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ms-auto">
                <li>
                    <a 
                        class="nav-link" 
                        routerLinkActive="active" 
                        style="cursor: pointer"
                        (click)="logoutUser()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
