<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Expense Tracker</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a 
                        class="nav-link dropdown-toggle" 
                        id="navbarDropdown"
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">Settings</a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="p-2">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label">Receive notification</label>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a 
                        class="nav-link" 
                        routerLinkActive="active" 
                        style="cursor: pointer"
                        (click)="logoutUser()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
