<app-header></app-header>

<div class="container mt-4">
    <div class="row">
        <h2 class="col-6">Hi {{user.firstname}},</h2>
        <h2 class="col-6 text-end">{{currentDate}}</h2>
    </div>
    <div class="mt-4 mb-3">
        <h6 class="text-center">YOUR BALANCE</h6>
        <h1 class="text-center">${{accountService.getBalance()}}</h1>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card shadow">
                <div class="card-body bg-success bg-gradient text-white">
                    <div class="d-flex">
                        <div class="my-auto">
                            <h4>Income</h4>
                        </div>
                        <div class="ms-auto">
                            <h1>${{accountService.getIncome()}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card shadow">
                <div class="card-body bg-danger bg-gradient text-white">
                    <div class="d-flex">
                        <div class="my-auto">
                            <h4>Expense</h4>
                        </div>
                        <div class="ms-auto">
                            <h1>${{accountService.getExpense()}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-5 text-center">History</h4>

    <div class="row mt-4">
        <div class="col-xl-12 mx-auto">
            <div class="container">
                <div>
                    <table *ngFor="let item of accountService.getAllDates() | keyvalue : originalOrder" class="mx-auto">
                        <tbody>
                            <tr>
                                <td class="date" colspan="2">{{item.key | date:'fullDate'}}</td>
                            </tr>
                            <tr *ngFor="let transaction of item.value" (mouseover)="deleteButton()" (mouseout)="deleteButton()">
                                <td class="transaction"> 
                                    <span>{{transaction.description}}</span>
                                    <span *ngIf="transaction.type === 'Expense'" style="float:right">-${{math.abs(transaction.amount)}}</span>
                                    <span *ngIf="transaction.type === 'Income'" style="float:right">${{transaction.amount}}</span>
                                </td>
                                <td class="delete">
                                    <i *ngIf="displayDeleteButton" class="bi-2x bi-x delete"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <!-- <div *ngFor="let item of accountService.getAllDates() | keyvalue : originalOrder " class="col-xl-6 mx-auto">
                        <div class="card-body">
                            <p class="card-title">{{item.key | date:'fullDate'}}</p>
                        </div>
                        <ul *ngFor="let transaction of item.value" class="list-group list-group-flush"
                            (mouseover)="deleteButton()" (mouseout)="deleteButton()" class="list-inline">
                            <li class="list-group-item"
                                [ngStyle]="{borderRight: transaction.type === 'Expense' ? '5px solid #dc3545' : '5px solid #198754'}">
                                <span>{{transaction.description}}</span>
                                <span *ngIf="transaction.type === 'Expense'" style="float:right">-${{math.abs(transaction.amount)}}</span>
                                <span *ngIf="transaction.type === 'Income'" style="float:right">${{transaction.amount}}</span>
                            </li>
                            <li>
                                <button *ngIf="displayDeleteButton" type="button" class="btn btn-outline-secondary pull-right">
                                    <i class="bi bi-x"></i>
                                </button>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-5 text-center">Add a new transaction</h4>
    <div class="mt-4">
        <form #transactionForm="ngForm" (ngSubmit)="addTransaction(); resetForm(transactionForm)" novalidate>
            <div class="form-group col-6 mb-2 mx-auto">
                <label>Description</label>
                <input 
                    type="text" 
                    name="description"
                    #description="ngModel"
                    class="form-control" 
                    placeholder="Enter description..."
                    maxlength="50"
                    [(ngModel)]="currentTransaction.description"
                    [class.is-invalid]="description.invalid && description.touched"
                    required>
                    
                    <small class="text-danger"
                        [class.d-none]="description.valid || description.untouched">Transaction desctiption is required</small>
            </div>
        
            <div class="form-group col-6 mb-2 mx-auto">
                <label>Amount</label>
                <input 
                    type="number" 
                    name="amount"
                    #amount="ngModel"
                    pattern="^[0-9]+(\.[0-9]{1,2})?$"
                    class="form-control" 
                    placeholder="Enter amount..."
                    min="0"
                    [(ngModel)]="currentTransaction.amount"
                    [class.is-invalid]="amount.invalid && amount.touched"
                    required>

                    <small class="text-danger"
                        [class.d-none]="amount.valid || amount.untouched">Invalid</small>
            </div>

            <div class="form-group col-6 mb-4 mx-auto">
                <label>Income or Expense</label>
                <select 
                    (blur)="validateTransactionType(transactionType.value)"
                    (change)="validateTransactionType(transactionType.value)"
                    #transactionType="ngModel"
                    [class.is-invalid]="transactionTypeHasError && transactionType.touched"
                    class="form-select"
                    name="transactionType"
                    [(ngModel)]="currentTransaction.type">
                    <option value="default">Select an option</option>
                    <option>Income</option>
                    <option>Expense</option>
                </select>
                <small 
                    class="text-danger" 
                    [class.d-none]="!transactionTypeHasError || transactionType.untouched">Please select a transaction type</small>
            </div>
            
            <div class="col text-center">
               <button 
                    class="btn btn-primary col-6"
                    [disabled]="transactionForm.form.invalid || transactionTypeHasError"
                    type="submit" >Add transaction</button>
           </div>
        </form>
    </div>
</div>
