/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F7FA
}

.auth-input{
    max-width: 600px;
    min-height: 300px;
    /* border: 1px solid #333  */
}